apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo

images:
- name: nr-root-finder-ui
  newName: my-registry/nr-root-finder-ui
  newTag: latest
- name: redis-reader
  newName: my-registry/redis-reader
  newTag: latest

resources:
- ../../base

configMapGenerator:
- name: finding-roots-environment-vars
  behavior: replace
  env: finding-roots-demo.env

patches:
- path: sagemath-service-patch.yaml
  target:
    kind: Service
    name: sagemath-service
- path: sagemath-endpointslice-patch.yaml
  target:
    kind: EndpointSlice
    name: sagemath-service-endpointslice
- path: redis-nodeport-service-patch.yaml
  target:
    kind: Service
    name: redis-np
- path: nr-nodeport-service-patch.yaml
  target:
    kind: Service
    name: newton-raphson
